.preloader {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 11000;
    position: fixed;
    display: block
}
body {
	font-family: 'Open Sans', sans-serif;
	line-height: 20px;
	color: #999999;
	font-size: 300;
	font-size: 16px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #222222;
}
a, a:hover, a:focus, a:active{
    outline: none;
}

.section-padding{
	padding: 60px 0px;

}
h2 {
    line-height: 20px;
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
hr.botm-line {
    height: 3px;
    width: 60px;
    background: #ffb737;
    position: relative;
    border: 0;
    margin: 20px 0 20px 0;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid green;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
/*
banner
*/
.navbar {
    margin-bottom: 0px;
    border: 0px;
}
.navbar {
    border-radius: 0px;
}
.navbar-default {
    background-color: #fff;
    padding: 10px 0;
    transition: all 0.3s;
}
.navbar-default {
    background-color: transparent;
    border: 0px;
}
.navbar {
    border-radius: 0px;
    background-color: white;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.navbar-brand
{
	font-family:  'Times New Roman', Times, segrif;
    font-size: 32px;
    color: lightseagreen;
}

.navbar-brand img {
    padding-top: 2px;
    width: 120px !important;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: white
}

@media (max-width: 768px) {
	.navbar-collapse {
		background: white;
	}
}

.top-nav-collapse {
    padding: 0;
    background:white;
}


#banrtext1{
    font-family: sans-serif;
    color: rgb(33, 9, 172);
}
#banrtext2{
    font-family: sans-serif;
    color: rgb(9, 172, 44);
}
.block
{
	display: block;
}
#glogo {
   
    color:green;
    border-radius: 10px;
    font-style: oblique; 
}
#clogo{
    color:green;
    border-radius: 10px; 
}
#hlogo{
    
    color:rgb(122, 50, 68);
    border-radius: 10px;
    font-style: oblique;

}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    text-transform: uppercase;
    background-color: #444444;
}
.navbar-default .navbar-nav > li > a
{
	color: black;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 300;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
	color: #fff;
    text-transform: uppercase;
    background-color: #444444;
}

  #login {
  
    margin-left: 25px;
    background:#523fc0;
    color: #fff;
    border-radius: 5px;
    padding: 10px 30px 11px 30px;
    margin-top: 5px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
  }

  
  #signup:hover {
    background: rgb(216, 10, 37);
    color: #fff;
  }
.affix {
    background-color: #ffffff !important;
}
.affix .navbar-nav > li > a:hover, .affix .navbar-nav > li > a:focus
{
    background-color: rgba(12, 184, 182) !important;
}
 #my-pics{
  width: 100%;
  height: 560px;
  background-color: rgba(60, 60, 60, 0.8);
  overflow: hidden;
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  #my-pics .carousel-slide {
    margin-left: 50px;
    margin-right: 50px;
  }
}


@media (max-width: 992px) {
  #my-pics {
    height: 50%;
  }
  #my-pics .carousel-inner {
    margin-top: 50px;
  }
}

@media (min-width: 1024px) {
  #my-pics #left-carousel-control, #my-pics #Right-carousel-control {
    width: 5%;
  }
}

@media (max-height: 500px) {
  #my-pics {
    height: 160%;
  }
} 

/*
services
*/

.services .icon-box {
  padding: 20px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.services .icon-box::before {
  content: '';
  position: absolute;
  background: #d9f1f2;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.services .icon-box:hover::before {
  background: rgb(51, 119, 91);
  top: 0;
  border-radius: 0px;
}
.services .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

.services .icon {
  display: flex;
  justify-content: center;
}
.services .icon {
  margin-bottom: 15px;
}

.services .icon i {
  font-size: 48px;
  line-height: 1;
  color: #523fc0;
  transition: all 0.3s ease-in-out;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: black;
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.services .icon-box:hover .title a, .featured-services .icon-box:hover .description {
  color: #fff;
}

.services .icon-box:hover .icon i {
  color: #fff;
}
/*

about
***************************************/
#about{
    background-color: rgba(52, 74, 175, 0.15);
}
.lg-line{
	line-height: 1.4;
	font-size: 28px;
}
.more-features-box-text-icon {
    float: left;
    width: 40px;
    height: 40px;
    padding-top: 6px;
    background: #0cb8b6;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}
.more-features-box-text-description h3{
    padding-bottom: 15px;
}
.more-features-box-text-icon i {
    font-size: 18px;
    line-height: 26px;
}
.more-features-box-text-description{
	margin-left: 150px;
	margin-bottom: 35px;
}
.sec-para{
	padding-bottom: 10px;
}
/***************************************
doctor team
***************************************/
.thumbnail {
  border-radius: 0px;
  text-align: center;
}
.caption h3{
    padding-bottom: 5px;
}
.caption p{
    padding-bottom: 10px;
}

/***************************************
contact us
***************************************/
#contact{
  background-color: #406268;
}
.space {
    margin-top: 40px;
    
}
.btn-form, .btn-form:hover, .btn-form:focus {
    background-color:#444444;
    color: #fff;
    border-radius: 0px;
    padding: 10px 20px;
}
.br-radius-zero {
    border-radius: 0px;
}
.form-control{
  height: 40px;
  
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
    
}

#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
	display:block;
}


/***************************************
footer
***************************************/
#footer{
	background-color:  whitesmoke;
}
.ftr-tle {
    height: 50px;
}
.info-sec {
    color: #444444;
}
.quick-info li i {
    font-size: 8px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: left;
}
#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #2487ce;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 5px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #3194db;
    color: #fff;
    text-decoration: none;
  }
  
.bglight-blue {
    background-color: #3498DB;
}
.bgred {
    background-color: #E74C3C;
}
.bgdark-blue {
    background-color: #2C3E50;
}
.bglight-blue {
    background-color: #3498DB;
}
.top-footer {
    padding: 40px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.footer-line {
    padding: 30px 0px;
    color: #444444;
}

.footer-line a {
    color: #444444;
}

.quick-info li a{
    color: #444444;
}
.site-link, .site-link:hover, .site-link:focus
{
    color: #444444;
    text-transform: none;
}
@media (min-width: 551px) and (max-width: 980px){

}
@media (min-width: 220px) and (max-width: 551px){
    .testi-info{
        margin-bottom: 20px;
    }
    .marb20{
        margin-top: 30px;
    }
    h2{
        font-size: 24px;
        line-height: 1.2;
    }
    .section-title{
        margin-bottom: 30px;
    }
    .medi-info {
    border: 0px;
    border-bottom: 1px solid #fff;
    }
    .service-info{
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .caption h3 {
    font-size: 14px;
    }
    .caption p{
    font-size: 12px;
    padding-bottom: 5px;
    }
    .caption ul li a i{
        font-size: 14px;
    }
    .banner-text h1{
        font-size: 24px;
    }
}
